@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home, .on-board, .users, .details, .offBoard {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}