.list {
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.head {
    display: flex;
    justify-content: space-around;
}

.cell {
    margin: 0px;
    width: 50%;
    padding: 4px;
    border: 1px solid #0b1929;
}

.details {
    display: flex;
    flex-direction: column;
}

.actions {
    display: flex;
    width: 500px;
    justify-content: space-around;
}

.empty-state {
    display: flex;
    justify-content: center;
}