.list {
    display: flex;
    width: 1000px;
    flex-direction: column;
}

.list-head {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #0b1929;
    color: #fff;
    padding: 8px;
}

.row-dark {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: #fff;
    padding: 8px;
    background-color: #0b1929;
}

.row-light {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: #0b1929;
    padding: 8px;
    background-color: #fff;
}

.row-data {
    display: flex;
    justify-content: space-around;
}

.row-dark > .link {
    text-decoration: none;
    color: #fff;
}

.row-light > .link {
    text-decoration: none;
    color: #0b1929;
}

.empty-state-wrapper {
    display: flex;
    justify-content: center;
}

.empty-state {
    display: flex;
    flex-direction: column;
}

.form-field {
    margin: 10px 0 10px 0;
    padding: 15px;
    font-size: 16px;
    border: 0;
    font-family: "Lato", sans-serif;
  }