.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.register-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Lato", sans-serif;
}

input {
  background: #f2f2f2;
}

input:focus {
  outline: none !important;
  border:2px solid #0b1929;
  border-radius: 5px;
  /* box-shadow: 0 0 10px #719ECE; */
}

button {
  background: #0b1929;
  color: white;
  cursor: pointer;
}

button:disabled {
  cursor: default;
  background: #ddd;
  color: black;
}

.action-input {
  display: flex;
  justify-content: start;
  align-items: center;
}

.action-input div {
  display: flex;
  align-items: center;
  line-height: 2px;
}

input[type="checkbox"]{
  width: 20px; /*Desired width*/
  height: 20px; /*Desired height*/
}

.error-msg {
  color: red;
}